<header class="header container">
    <a class="logo-wrapper" href="/index.html"><span class="visible-hidden">Design Live Kids shop</span><img src="/static/images/union.png" class="logo link" alt="DLK logo" height="52px" width="100px"></a>
    <!-- <div class="logo-wrapper"><span class="visible-hidden">Design Live Kids shop</span><img src="/static/images/union.png" class="logo link" alt="DLK logo" height="52px" width="100px"></div> -->
    <nav class="header-nav"></nav>
        <ul class="header-nav-left">
            <li class="header-nav-block">
                <a href="/pages/blog/index.html" class="header-nav-block-link">BLOG</a>
            </li>
            <li class="header-nav-block">
                <a href="/pages/catalog/index.html" class="header-nav-block-link">CATALOG</a>
            </li>
            <li class="header-nav-block">
                <a href="#" class="header-nav-block-link">ABOUT US</a>
            </li>
        </ul>
        <ul class="header-nav-right">
            <li class="header-nav-block">
                <a class="header-nav-block-link" href=""><img src="/static/images/search.png" alt="search icon" height="17px" width="17px"></a>
            </li>
            <li class="header-nav-block">
                <a href="/pages/contact-us/index.html" class="header-nav-block-link">CONTACT US</a>
            </li>
        </ul>
    </nav>
</header>